<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css" rel="stylesheet">
    <title>Admin</title>
</head>
<body class="pt-16 h-screen flex items-center justify-center bg-gray-100">
    <nav id="navbar" class="fixed backdrop-blur-xl bg-red-800 top-0 left-0 right-0 h-16 flex items-center justify-between p-5">
        <h1 class="flex items-center text-xl font-bold text-white">PREVENCRIME
            <img class="h-10 w-10 text-white" src="/images/pngwing.com.png" alt="1">
        </h1>
        <div class="flex md:order-2 space-x-4 p-3 md:space-x-4 rtl:space-x-reverse relative">
            <a class="logout left-auto p-1 cursor-pointer border-b-4 text-white">Cerrar sesión</a>
        </div> 
    </nav>
        <div class="grid grid-cols-2 gap-8 p-4">
            
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a href="/UsersRegister/" class="text-2xl text-black">Verificar usuarios</a>
            </div>
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a href="/DenunciaAD/" class="text-2xl text-black">Ver denuncias</a>
            </div>
            <div class="bg-neutral-300 flex p-6 justify-center items-center">
                <a href="/HerramientasAD/" class="text-2xl text-black">Herramientas</a>
            </div>
        </div>
    <script src="/Components/nav.js"></script>
    <script type="module" src="index.js"></script>
</body>
</html>