<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="index.css">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <title>Prevencrime</title>
</head>
<body>
    <nav id="navbar" class=" backdrop-blur-xl md:text-xl bg-red-800 top-0 left-0 right-0 h-24 flex items-center justify-between p-5">
        <h1 class="flex items-center text-2xl font-bold text-white">PREVENCRIME
            <img class="h-10 w-10 text-white" src="/images/pngwing.com.png" alt="1">
        </h1>
        <div class="flex md:order-2 space-x-4 p-3 md:space-x-4 rtl:space-x-reverse relative">
            <a href="/Admin/" class="p-1 cursor-pointer border-b-4 text-white">Volver</a>
        </div>
    </nav>
    
        <section class=" content text-center py-10 pt-24 mt-8 flex flex-wrap flex-col justify-between items-center">
            <div class="pt-8 flex flex-col justify-center items-center">
                <div class="p-4 w-2/3 md:w-full bg-neutral-200 shadow-lg rounded-lg">
                <div class="section text-xl p-4">
                    <h2 class="font-bold">Realizar Consultas</h2>
                    <p>Consulta predicciones de índices de robos a futuro.</p>
                    <br>
                    <a href="https://prevencrime-modeloml.onrender.com" class="button p-2 bg-zinc-500 text-gray-100 rounded-lg">Realizar Consultas</a>
                </div>
            </div>
            <br>
            <div class="p-4 w-2/3 md:w-full bg-neutral-200 shadow-lg rounded-lg">
                <div class="section text-xl p-4">
                    <h2 class="font-bold">Sobre Nosotros</h2>
                    <br>
                    <a href="/SobreNosotrosAD/" class="button p-2 bg-zinc-500 text-gray-100 rounded-lg">Ingresar</a>
                </div>
            </div>
            <br>
            <div class="p-4 w-2/3 md:w-full bg-neutral-200 shadow-lg rounded-lg">
            <div class="section text-xl p-4">
            <h2 class="font-bold">Registrar Denuncia</h2>
            <p>Ayúdanos a mantener segura la comunidad de nuestros distritos. Registra una denuncia de manera rápida y sencilla.</p>
            <br>
            <a href="/RegisterDEA/" class="button p-2 bg-zinc-500 text-gray-100 rounded-lg">Registrar Denuncia</a>
        </div>
         </div> 
         <br>
         <div class="p-4 w-2/3 md:w-full bg-neutral-200 shadow-lg rounded-lg">
            <div class="section text-xl p-4">
            <h2 class="font-bold p-2">Revisión de Recomendaciones y compartir</h2>
            <p>Ayúdanos a difundir la aplicación en las redes sociales para que más personas se interesen en registrar sus denuncias.</p>
            <br>
            <a href="/RecomendacionesAD/" class="button p-2 bg-zinc-500 text-gray-100 rounded-lg">Ingresar</a>
        </div>
         </div>  
            </section>
    <footer>
    </footer> 
    <script src="/Components/nav.js"></script>
    <script src="index.js"></script>
</body>
</html>

