<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <title>Sobre Nosotros</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <nav id="navbar" class="fixed backdrop-blur-xl text-xs bg-red-800 top-0 left-0 right-0 h-16 flex items-center justify-between p-5">
        <h1 class="flex items-center text-2xl font-bold text-white">PREVENCRIME
            <img class="h-10 w-10 text-white" src="/images/pngwing.com.png" alt="1">
        </h1>
        <a href="/" class="p-1 cursor-pointer border-b-4 text-white">Volver</a>
    </nav>
    <br>
    </br>
    <section class="about-us">
        <h1>Sobre Nosotros</h1>
        <p>PREVENCRIME es una aplicación web de predicción basada en Machine Learning con el objetivo de reducir el índice de robos y hurtos en Los Olivos, San Martín de Porres y Comas, con planes de expansión a toda Lima Metropolitana.

        </p>
        
        <div class="team">
            <h2>Nuestro Equipo</h2>
            <div class="team-member">
                <img src="123.jpeg" alt="Carlos" class="team-photo">
                <h3>Carlos Zelada</h3>
                <p>Project Manager</p>
            </div>
            <div class="team-member">
                <img src="321.jpeg" alt="Carlos" class="team-photo">
                <h3>Luis Mederos</h3>
                <p>Scrum Master</p>
            </div>
        </div>
        
        <div class="vision-mission">
            <div class="vision">
                <h3>Visión</h3>
                <p>"Buscar reducir el indice de criminalidad en los distritos afectados, proporcionado a la comunidad una herramienta efectiva y accesible para mejorar el bienestar de los habitantes"</p>
            </div>
            <div class="mission">
                <h3>Misión</h3>
                <p>"Líderes en innovación, expandiendo nuestro alcance para ser reconocidos como la solución principal en la lucha contra la inseguridad en Lima Metropolitana. Contribuyendo a la creación de una capital más segura y protegida mediante la integración de tecnología innovadora y el compromiso de la comunidad"</p>
            </div>
        </div>
    </section>
    <script src="/Components/nav.js"></script>
</body>
</html>